body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

    /* bikin tombol selalu di tengah */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    margin-bottom: 20px;
    background: white;
    padding: 25px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
}

/* tombol */
button.submit {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background: linear-gradient(135deg, #4caf50, #2e8b57);
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

button.submit:hover {
    background: linear-gradient(135deg, #2e8b57, #4caf50);
    transform: scale(1.05);
}

button.submit:active {
    transform: scale(0.98);
}

/* popup */
.popup-container {
    display: none; /* penting! */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.5);

    justify-content: center;
    align-items: center;
}

.popup-box {
    background: white;
    padding: 25px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
}

.close-btn {
    margin-top: 15px;
    padding: 8px 16px;
    cursor: pointer;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 7px;
}